extends layout

block content

    h1 Page not found ;(
    h2= err.status
    h3= err.message
    pre= err.stack

    nav.nav
        a(href='/')
            span &larr;
            |  Back
